// div button dimensions and styles for the intro container 
.button-more-for-past{
    width: 25%;
    height: 12%;
    background-color: #603232;
    opacity: 0.8;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}