//Import Layout files
@import"./media-query-layouts";
@import "./header";
@import"./main-content";
@import "./footer";
// main layout is grid 3 rows with header main-content and footer and no columns
body{
    display: grid;
    grid-template-rows: 8vh 200vh 10vh;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}