//Import Layout files
@import"./media-query-layouts";
@import "./header";
@import"./main-content";
@import "./footer";
// main layout is grid 3 rows with header main-content and footer and no columns
body{
    display: grid;
    grid-template-rows: 5vh 190vh 60vh;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "top-menu"
    "main"
    "footer";
   
}
