//Import Layout files
@import "./header";
@import"./main-content";
@import "./footer";
// main layout is grid 3 rows with header main-content and footer and no columns
body{
    display: grid;
    grid-template-rows: 8vh 95vh 50vh;
    grid-template-areas: 
    "topmenu"
    "main"
    "footer";
}
