header{
    grid-area: topmenu;
    background-color: aqua;
    ul{
        display: flex;
        justify-content:end;
        gap: 6%;
        li{
            list-style: none;
            
            &:nth-child(4){
                margin-right: 2%;
            }
        }
    }
}
