// using display flex and gap to align the nav and the logo div 
header{
    grid-area: header;
    background-color: #e9e9e9;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 50%;
    nav{
        width: 30%;
        height: 60%;
        background-color: beige;
    }
//div logo dimensions and styles 
        
}
img{
    height: 90%;
    border-radius: 10px;
}