// for the main layout i used flex with column directions
main{
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // first intro section has 1 main div and 2 divs inside one is the button and the second is the text
  .intro-section{
    background-color: #e9e9e9;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
// intro-main div dimensions and size
    .intro-main-div{
      width: 100%;
      height: 100%;
      border-radius: 20px;
      background-color: inherit;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
    }
  }
  // about me main container dimensions and position
  .about-me-section{
    width: 100%;
    height: 100vh;
    background-color: #DEDBDB;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    // inside box size and background colors
    .box{
      width: 50%;
      height: 50%;
      border-radius: 20px;
      background-color: #DEDBDB;
      // position items inside with flex
      &:nth-child(2),&:nth-child(3){
        background-color:inherit;
        display: flex;
        align-items: center;
        justify-content: center;
        // size and styles for the 3rd inside box 
        div{
          width: 40%;
          height: 80%;
          border-radius: 100%;
          background-color: #e9e9e9;
          img{
            width: 100%;
            height: 100%;
            border-radius: 100%;
          }
        }
      }
      &:nth-child(1),&:nth-child(4){
        background-color:#BFBEBE;
        display: flex;
        align-items: center;
        justify-content: center;
        div{
          width: 50%;
          height: 70%;
          border-radius: 20px;
          background-color: #e9e9e9;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 13px;
          
          a{
          display: flex;
          align-items: center;
          justify-content: center;
          }
        }
      }
    }
  }
  // last container in the main section styles size and positions
  .carousel-pictures-my-work{
    width: 100%;
    height: 100vh;
    background-color: #e9e9e9;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    // carousel box coming soon 
    .carousel-my-work{
      width: 70%;
      height: 70%;
      border-radius: 10px;
      background-color: #BFBEBE;
      display: flex;
      justify-content: center;
      align-items: center;
      align-self: flex-end;
    }
    // heading for my work 
    .heading-my-work{
      position: relative;
      top: 11.5%;
      left: 10%;
      display: flex;
      justify-content: center;
      align-items: center;
      align-self: flex-start;
    }
  }
}